//Font-awesome
$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts" !default;
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands";

// Load Foundation
@import 'settings/foundation-settings';
@import "~foundation-sites/scss/foundation";
@import 'foundation-imports';

@import "settings/template-settings";
